body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 100%;
    margin: auto;
}

.header_container {
    width: 100%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.header_row {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.whatsapp_green {
    background: #128c7e
}

.header {
    padding: 15px 0px;
    color: white;
}

.header p {
    padding-left: 50px;
}

.icon {
    padding-left: 50px;
}

.icon i {
    padding: 19px 5px;
}

.icon p {
    padding: 0px;
}

.header img {
    padding-left: 80px;
    padding-right: 20px;
    height: 40px;
    padding-top: 3px;
}

.first_section {
    margin-top: 60px;
}

.first_section h1 {
    font-size: 39px;
    font-weight: 400;
}

.section1_row {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    margin: auto;
}

.first_section_row {
    width: 40%;
    margin: auto;
}

.first_section_row img {
    width: 80%;
}

.first_section_p {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
}

.first_section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    color: rgb(10, 159, 149);
    font-size: large;
}

.first_section li {
    padding: 15px 0px;
}

.first_section_row i {
    padding-right: 10px;
}

.first_section_row li a {
    text-decoration: none;
    color: rgb(10, 159, 149);
}

.section_two {
    margin-top: 65px;
}

.section_two_box1 {
    width: 48%;
    background: rgb(179, 211, 223);
    margin: auto;
}

.section_two_box1_1 {
    width: 80%;
    margin: auto;
    align-content: center;

}

.section_two_box1_1 h1 {
    margin-top: 70px;
    font: 34px Roboto;
    font-weight: 700;
    text-align: center;

}

.section_two_box1_1 p {
    margin-top: 40px;
    padding: 2px 10px;
    text-align: center;
    font-size: 18px;
}

/* .section_two_box1_1 img {
    width: 60%;
    margin-top: 70px;
    padding-left: 80px;
} */

.section_two_box2 {
    width: 48%;
    text-align: center;
    background: rgb(235, 239, 240);
    margin: 0px auto;
}

.section_two_box2 h3 {
    font: 16px Roboto;
    color: #5e5e5e;
    font-weight: bold;
    margin-top: 70px;
}

.section_two_box2 h1 {
    color: #1c1e21;
    font: 32px Roboto;
    font-weight: bolder;
}

.section_two_box2 p {
    font: 18px Roboto;
    margin: 18px 0px;
    padding: 20px 100px;
    margin-bottom: 10px;
}

.circle {
    width: 250px;
    height: 250px;
    background-color: #128c7e;
    border-radius: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.center {
    margin-top: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.explore {
    width: 20%;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    border: 2px solid palegreen;
    border-radius: 30px;
}

.explore p {
    text-align: center;
    font-size: 19px;
    padding: 0px 13px;
    color: #128c7e;
}

.footer_box {
    width: 80%;
    margin: 40px auto;
}

table {
    width: 90%;
}

th {
    color: white;
    font-size: 19px;
    font-weight: bold;
    text-align: left;
    padding-bottom: 20px;
}

td {
    color: white;
    font-size: 19px;
}

.foot {
    background: #1c1e21;
    padding: 4px 24px;
}

.h4c {
    font: 18px Roboto;
    color: #ffff;
}

.ic {
    color: #ffff;
    padding-top: 26px;
    padding-left: 7px;
}